@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.goog-te-gadget-icon {
    display:none;
}


.goog-te-gadget-simple {
    background-color: #ffffff !important;
    border:0 !important;
    font-size: 10pt;
    font-weight:800;
    display: inline-block;
    padding:10px 10px !important;
    cursor: pointer;
    zoom: 1;
}

.goog-te-gadget-simple  span {
    color:#3e3065 !important;

}